* {
    margin: 0;
    padding: 0;
}

#content {
    padding: 1rem;
}

#input-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: start;
}
#input__submit {
    padding-inline: 1rem;
}

#boards {
    display: flex;
}
#place-menu {
    display: flex;
}

#gb1,
#gb2,
#gbplace {
    display: grid;
    grid-template-columns: repeat(10, 20px);
    gap: 5px;
}
#gb1 > *,
#gb2 > *,
#gbplace > * {
    width: 20px;
    height: 20px;
    border: 1px solid blue;
}
.letters_col {
    margin-top: 25px;
    margin-left: 4rem;

    display: grid;
    grid-template-rows: repeat(10, 20px);
    gap: 7px;
}

.letters_col > * {
    text-align: center;
    padding-top: 3px;
    width: 20px;
    height: 20px;
    /* border: 1px solid blue; */
}

.U {
    background-color: aliceblue;
}

.M {
    background-color: lightcoral;
}
.hit {
    background-color: mediumaquamarine;
}
.nothit {
    background-color: lightslategray;
}
.num_cell {
    border: none !important;
    display: grid;
    place-content: center;
}
.num_top {
    transform: translateY(5px);
}
