#content {
    display: flex;
    gap: 5rem;
}

#gb1,
#gb2 {
    display: grid;
    grid-template-columns: repeat(10, 20px);
    gap: 5px;
}
#gb1 > *,
#gb2 > * {
    width: 20px;
    height: 20px;
    border: 1px solid blue;
}

.U {
    background-color: aliceblue;
}

.M {
    background-color: lightcoral;
}
.hit {
    background-color: lightsalmon;
}
.nothit {
    background-color: lightslategray;
}
